body{
    background-color: #FFFCF2;
    margin: 0;
    padding: 0;
}


/*Eventually try to erase this section and make it work using style.css*/
/*Starting Here*/
/* .link is for the nav */
* {
    box-sizing: border-box;
}
header {
    background-color: #403D39;
    border-bottom: 3px groove #ccc5B9;
    width: 100%;
    height: 70px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.logo img{
    float: left;
    width: 75px;
}


.link{
    float: right;
    width: 40%;
    margin-top: 2%;
}

.link li{
    font-weight: 500;
    font-size: 24pt;
    display: inline-block;
    margin-right: 10px; /*spacing in between the links*/
}

.link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}

.link a:hover{
    color:rgb(255, 255, 255);
    background-color: #1697A6;
    border: 2px solid white;
}

link a:active {
    color:rgb(255, 255, 255);
    background-color: #1697A6;
}

.clear-fix::after {
    clear: both;
    content: ' ';
    display: block;
}

/*Ending Here*/


/*div holding the h1 and p tag within the form*/
.top-section{
    text-align: center;
}

/*The Form section*/
.main-content {
    background-color: #CCC5B9;
    border: 2px solid black;
    width: 40%;
    padding: 30px;
    margin: 80px auto 15px auto;
    border-radius: 5%;
    box-shadow: 19px 9px 0px rgb(19, 18, 18);
    
}

/*working on the type="text" portion*/
input[type=text]{
    border-radius: 4px;


}

/*working on submit button*/
input[type=submit]{
    width: 100%;
    background-color: #1697A6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    border-top: 3px groove #CCC5B9;
    background-color: #252422;
}

footer i{
    color: #CCC5B9;
    margin-right: 10px;
}

.footlogo{
    margin-top: 5%;
    float: right;
}

/*circle pic in the footer*/
.circlePicture {
    border: 2px solid #CCC5B9;
    float: left;
    margin: 5px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circlePicture img {
    width: 99%;
    margin-left: 2px;
    height: auto;
    filter: grayscale(75%);
}